<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <p>Hello,</p>
    <p>We received a request to reset your password. If you didn't make this request, you can ignore this email.</p>
    <p>To reset your password, click on the link below:</p>
    <a href="{{ reset_link }}">Reset Password</a>
    <p>This link will expire in 1 hour.</p>
    <p>If you're having trouble clicking the link, copy and paste the URL below into your web browser:</p>
    <p>{{ reset_link }}</p>
    <p>Best regards,<br>Your Budget App Team</p>
</body>
</html>