/* src/pages/RegisterPage.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .register-form h2 {
    margin-bottom: 1em;
  }
  
  .register-form button {
    width: 100%;
  }
  