/* src/pages/SettingsPage.css */
.settings-container {
    display: flex;
  }
  
  .settings {
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .settings h2 {
    margin-bottom: 1em;
  }
  